*
{
	margin:0;
	padding:0;
}
/*navigation*/

#nav-bar
{
	position: sticky;
	top:0;
	z-index:10;
}
.navbar-brand img
{
	height: 40px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float:right;
	text-align:left;
}

#nav-bar ul li a:hover
{
	color:#fff!important;
}
.navbar
{
	background:#90EE90;
}
.navbar-toggler
{
	border:none!important;
}
.nav-link
{
	color:#000!important;
	font-weight:700;
	font-size:16px;
}
#slider
{
	width:100%;
}
#About
{
	padding-top:50px;
	padding-bottom:100px;
	
}
#About btn
{
	margin-top:20px;
	margin-bottom:30px;
}
.About-content
{
	padding-top:20px;
}
#dashboard
{
	padding-top:50px;
	padding-bottom:100px;
}
#weather
{
	padding-top:50px;
	padding-bottom:100px;
}
#todo
{
	padding-top:50px;
	padding-bottom:100px;
}
#Status
{
	padding-top:50px;
	padding-bottom:100px;
}
.button-area{
    width:80px;
    height: 40px;
    margin:20px auto;
    position: relative;
}
.button-area .main-button{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #e4e4e4;
    box-shadow: 0px 0px 3px 1px #2a2a2a;
    border-radius:110px;

}
.button-area .checkbox{
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    cursor: pointer;
    z-index: 100;
    opacity: 0;

}
.button-area .text:after{
    position: absolute;
    content: "Yes";
    top:2.5px;
    left:3px;
    width:35px;
    height:35px;
    background: green;
    color:white;
    text-align: center;
    line-height: 35px;
    border-radius: 100%;
    transition: 0.4s;
}
.button-area .checkbox:checked+ .text:after{
    content: "No";
    left:42px;
    background: red;
}

*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

.picture
{
	
	width:320px;
	height:500px;
	padding-left:50px;
	padding-bottom:310px;
	
}
.container{
	width:95%;
	overflow:hidden;
	background:white;
	margin:20px auto;
	padding:50px 0px;
}
.container ul{
	padding:0px;
	margin:0px;
}
.container ul li h1{
	font-size:70px;
	margin-left:200px;
	margin-top:20px;
	
}
.container ul li{
	list-style:none;
	float:left;
	width:400px;
	height:300px;
	background:#fff;
	margin:40px 30px 0px 50px;
	box-sizing:border-box;
	border:2px solid grey;

}




.container ul li:hover{
	opacity:0.9;
}
.title{
	width:100%;
	height:50px;
	font-size:20px;
	text-align:center;
	
	
}
@media screen and(max-width:1250px){
	.container ul li{
		width:40%;
		margin-left:40px;
		
	}
}

	
.circle-wrap {
  margin-left: 900px;
  padding-bottom:100px;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;

 
 
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
  
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
   
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.content-box{
	margin-left:100px;
}
.col-div-4.p{
	margin-left:30px;
}
* {box-sizing: border-box}

.containers {
  width: 40%;
  background-color: #ddd;
    margin-left:20px;
  margin-top:1px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;

}

.htmll {width: 90%; background-color:#2196F3;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #2196F3;}
.php {width: 60%; background-color: #2196F3;}
}
